/* common styles for basic stuff and typography */

b,
strong {
  font-weight: bold;
}
i,
em,
dfn {
  font-style: italic;
}
h1 {
  /* margin: 0.67em 0; */
  margin: 0 0 0.5em;
  font-size: 3em;
}
small {
  font-size: 80%;
}

mark {
  background-color: #fdffb6;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  color: var(--common-link-color);
}

blockquote,
dl,
ol,
p,
ul {
  margin: 0 0 1.5em;
}
