.common {
  margin-right: 20px;
  padding: 5px 15px;
  border-right: 1px solid;
  font-size: 1rem;
  font-family: "Roboto Mono", monospace;
}

.light {
  composes: common;
  color: var(--theme-light-second-text-color);
}

.dark {
  composes: common;
  color: var(--theme-dark-second-text-color);
}
