.card {
  flex: 1 1 calc(33% - 30px);
  margin: 0 15px 30px;
  width: 100%;
}

.tile {
  composes: card;
  max-width: calc(33% - 25px);
}

.row {
  composes: card;
  flex: 1 1 calc(100% - 30px);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.row .thumbnail {
  flex: 1 1 45%;
}

.row .content {
  flex: 1 1 55%;
  margin-left: 35px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.row .header {
  flex-direction: column-reverse;
}

.row .thumbnail {
  height: 220px;
}

.thumbnail {
  position: relative;
  height: 200px;
  display: block;
  margin: 0 0 0.5em;
}

.thumbnail-inner {
  height: 100%;
  border-radius: 3px;
}

@media (max-width: 1360px) {
  .tile {
    flex: 1 1 calc(50% - 30px);
    max-width: calc(50% - 30px);
  }
}

@media (max-width: 690px) {
  .tile {
    flex: 1 1 calc(100% - 30px);
    max-width: calc(100% - 30px);
  }

  .row {
    flex-direction: column;
  }

  .row .thumbnail {
    width: 100%;
    height: 200px;
  }

  .row .content {
    margin-left: 0;
  }

  .row .header {
    flex-direction: column;
  }
}
