.info-card {
  width: 100%;
  padding: 30px 30px 12px;
  margin: 0 auto 24px;
  font-family: "Roboto";
  border-radius: 3px;
}

.light {
  composes: info-card;
  background-color: var(--theme-light-info-card-color);
  color: var(--theme-light-second-text-color);
}

.dark {
  composes: info-card;
  background-color: var(--theme-dark-info-card-color);
  color: var(--theme-dark-second-text-color);
}
