.panel {
  width: 25%;
  /* max-width: 300px; */
  margin-left: 30px;
  min-width: 300px;
}

@media (max-width: 1100px) {
  .panel {
    /* max-width: 100%; */
    width: 100%;
    margin-left: 0;
    margin-top: 30px;
  }
}
